#root {
  margin: auto auto;
  padding: 2rem;
  background-color: black;
}

body {
  background-color: black;
  color: white;
}

p {
  font-size: 1vw;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.1;
}

/*HEADER*/
.header-container {
  text-align: center;
  padding-bottom: 6vh;
}

.header {
  font-size: 8vw;
}

.subheader {
  font-size: 2.5vw;
}

.subsubheader {
  font-size: 2vw;
}

/*DESCRIPTION*/
.description-container {
  text-align: left;
  padding-bottom: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.description {
  font-size: 2vw;
  line-height: 4vh;
}

.subdescription-container {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.subdescription {
  font-size: 1.8vw;
  line-height: 4vh;
}

.flag-container {
  text-align: center;
  padding-top: 6vh;
}

.flag {
  width: 50%;
}
