#root {
  background-color: white;
  display: flex;
}

@font-face {
  font-family: 'Mono';
  src: local('Mono'), url('./fonts/mono.ttf');
}

@font-face {
  font-family: 'Daft';
  src: local('Daft'), url('./fonts/daft.ttf');
}

@font-face {
  font-family: 'Pantasia';
  src: local('Pantasia'), url('./fonts/Pantasia-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'GT';
  src: local('GT'), url('./fonts/GT.ttf');
}

@font-face {
  font-family: 'GTBold';
  src: local('GTBold'), url('./fonts/GTBold.ttf');
}

@font-face {
  font-family: 'Haas';
  src: local('Haas'), url('./fonts/Haas.ttf');
}

.root {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 25px;
}

/* SCROLLBAR */

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
  overflow: -webkit-scrollbar-none; /* iOS Safari */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling */
}

/* Chrome, Safari */
body::-webkit-scrollbar {
  display: none;
}

.progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100vh;
  background: linear-gradient(180deg, rgb(234, 51, 35) 50%, #000000 50%);
  z-index: 5;
}

.progressBar.left {
  left: 0;
  background: linear-gradient(180deg, #000000 50%, rgb(234, 51, 35) 50%);
}

@media (max-width: 500px) {
  .progressBar {
    width: 10px;
  }
}

body {
  background-color: white;
  color: black;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p {
  font-size: 1vw;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: 'Haas';
}

@media (max-width: 767px) {
  p {
    font-size: 20px;
  }
}

/*HEADER*/

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 767px) {
  .header-container {
    justify-content: center;
    gap: 24px;
  }
}

.intro {
  text-align: center;
  justify-self: baseline;
  font-size: calc(16px + 1vw);
  margin-bottom: 16px;
  font-family: 'Daft';
  opacity: 0;
}

.poem {
  margin: 64px 0px;
  text-align: center;
  font-family: 'Daft';
  font-size: calc(16px + 1vw);
  opacity: 0;
}

.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  text-align: center;
}

.full-page-text {
  text-align: center;
  font-size: calc(24px + 4vw);
  padding: 0px 12px;
  width: 95%;
  font-family: 'GTBold';
  opacity: 0;
}

.title {
  font-size: 6.5vw;
  margin: 8px 0px;
  font-family: 'GTBold';
  letter-spacing: 3px;
  opacity: 0;
}

@media (max-width: 767px) {
  .title {
    font-size: 5.5vw;
  }
}

.first-letter {
  letter-spacing: -1px;
  margin-right: 4px;
}

.subtitle {
  text-align: center;
  font-size: calc(12px + 1.25vw);
  font-family: 'GT';
  letter-spacing: 4px;
  opacity: 0;
}

@keyframes shrink {
  from {
    width: 32vw;
  }
  to {
    width: 30vw;
  }
}

@keyframes appearMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-logo {
  width: 30vw;
  min-width: 300px;
  height: auto;
  cursor: url('assets/thumbnail.png') 32 32, auto;
  animation: appearMain 1s forwards, shrink 0.2s ease-in;
}

@keyframes grow {
  from {
    width: 30vw;
  }
  to {
    width: 32vw;
  }
}

.header-logo:hover {
  animation: appearMain 1s forwards, grow 0.2s ease-in;
  width: 32vw;
  opacity: 1;
}

.intro,
.title,
.subtitle {
  animation: appearMain 1s forwards;
  animation-delay: 1s;
}

.subheader {
  font-size: calc(16px + 3vw);
  margin: 64px 0px 96px 0px;
  width: 95%;
  text-align: center;
  font-family: 'Daft';
  opacity: 0;
}

/* FOOTNOTE */

footer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  text-align: center;
}

@media (max-width: 767px) {
  footer {
    height: 70vh;
  }
}

.footer-note {
  font-size: calc(16px + 1vw);
  font-family: 'Daft';
}

.flag-container {
  text-align: center;
  padding-top: 6vh;
}

.flag {
  width: 50%;
  min-width: 300px;
}

@media (max-width: 767px) {
  .flag {
    width: 80%;
  }
}

/*POSTERS*/
.poster-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 16px 32px 16px;
  margin-bottom: 64px;
  background-color: #000000;
  justify-self: center;
  cursor: url('assets/LionLogoLight.svg') 32 32, auto;
  color: white;
  box-sizing: border-box;
}

.poster-container.mt {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .poster-container.thin {
    max-height: 125px;
  }
}

.poster {
  width: 40%;
  height: auto;
}

.poster-caption {
  margin: 32px 0px 0px 0px;
  font-size: calc(10px + 0.75vw);
  color: white;
  text-align: center;
  padding: none;
  width: 40%;
  font-family: 'Daft';
}

@media (max-width: 767px) {
  .poster,
  .poster-caption {
    width: 80%;
    height: auto;
  }
}

/*PARAGRAPHS*/

.description {
  font-size: calc(16px + 0.4vw);
  text-align: justify;
  width: 95%;
  margin-bottom: 32px;
  font-family: 'Daft';
  opacity: 0;
}

.description.centered {
  text-align: center;
}

.description.first {
  margin-top: 128px;
}

mark {
  background-color: yellow;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

/*LIST*/

.list-number {
  font-size: 1.25vw;
}

@media (max-width: 767px) {
  .list-number {
    font-size: 10px;
  }
}

/* Video Player */

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.video-player {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  right: 20px;
  width: 20rem;
  height: 11.5rem;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: appear 0.5s ease-out forwards;
  overflow: hidden;
  z-index: 40;
  overflow: hidden;
  filter: drop-shadow(-4px 0px 10px rgba(0, 0, 0, 0.8));
  transform: translateY(-50%);
  transition: all 0.8s ease-in-out;
}

.video-player.scrolled {
  top: 10px;
  transform: none;
}

@media (max-width: 500px) {
  .video-player {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .video-player.scrolled {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

@keyframes disappear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.video-player.closed {
  animation: disappear 0.5s ease-out;
  opacity: 0%;
}

.close {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 999;
}

button {
  background-color: none;
  border: none;
  outline: none;
  background: none;
}
